@import "styles/vars";
@import "styles/mixins";

.skills {
	padding-bottom: 100px;
	
	&__title {
		margin-bottom: 100px;
		
		@include media($media-tablet) {
			font-size: 36px;
			margin-bottom: 88px;
		}
		
		@include media($media-phone) {
			font-size: 24px;
			margin-bottom: 56px;
		}
		
		@include media($media-small) {
			margin-bottom: 48px;
		}
	}
	
	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}