@import "styles/vars";
@import "styles/mixins";

.social {
	@include media($media-tablet) {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 24px;
	}
	
	@include media($media-phone) {
		justify-content: center;
	}
	
	@include media($media-small) {
		flex-direction: column;
	}
	
	&__item {
		margin-bottom: 30px;
	}
	
	&__link {
		display: flex;
		align-items: center;
		gap: 24px;
	}
	
	&__name {
		color: $primary;
		border-bottom: 1px solid $primary;
	}
	
	&__img {
	}
}