@import "styles/vars";
@import "styles/mixins";

.about {
	margin-bottom: 100px;
	
	@include media($media-phone) {
		margin-bottom: 50px;
	}
	
	&__title {
		margin-bottom: 100px;
		
		@include media($media-tablet) {
			font-size: 36px;
			margin-bottom: 88px;
		}
		
		@include media($media-phone) {
			font-size: 24px;
			margin-bottom: 56px;
		}
		
		@include media($media-small) {
			margin-bottom: 48px;
		}
	}
	
	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		
		margin-bottom: 40px;
		
		@include media($media-phone) {
			flex-direction: column;
		}
	}
	
	&__img {
	}
	
	&__section {
	}
	
	&__name {
		margin-bottom: 16px;
		
		@include media($media-phone) {
			font-size: 36px;
		}
	}
	
	&__divider {
		margin-bottom: 56px;
	}
	
	&__description {
		max-width: 553px;
		margin-bottom: 56px;
		
		@include media($media-phone) {
			font-size: 20px;
		}
	}
}